doctype html

mixin bio(name, github, githuburl, image, bio)
	.instructor-bio
		.avatar.img-wrap
			img.img-responsive(src="#{image}")
		.info
			h3.name #{name}
			a(href="#{githuburl}") github/#{github}
		p.bio #{bio}

mixin thumb(name, githuburl, image)
	.student-thumb
		.avatar.img-wrap
			img.img-responsive(src="#{image}")
		h5.name
			a(href="#{githuburl}") #{name}

html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title("Olin.js")

		link(href="css/bootstrap.min.css", rel="stylesheet")
		link(href="stylesheets/style.css", rel="stylesheet")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet', type='text/css')

	body
		.jumbotron
			.container
				img.img-responsive.logo(src="img/logo.svg")
				h3 A class on programming and web development at Olin College, Spring 2015

				h3
					a(href="http://www.github.com/olinjs/olinjs") GitHub
				h5 Meets Tuesdays and Fridays 3:20–5:00 in AC326 (<a href="ical/class.ics">Download iCal</a>)
		.container
			p <span class="drop-cap">Olin.js</span> is a student-led and -developed project-oriented approach to learning modern web application development. With server and client technology advancing so rapidly, the modern website looks very different from that of even a few years ago, and the web will only become a bigger part of our lives in the near future. Olin.js will quickly familiarize students with Node.js as a web server framework and ES5 JavaScript as a responsive client-side language with three weeks of introductory instruction and four weeks of partner labs.

			p Along the way, students will learn the basic layout of the web; how to deploy and maintain large applications; important development strategies, skills, and technologies; and how to design and manage complex, multi-developer software projects. Students will spend the last six weeks of the course putting their knowledge and skills to the test by designing and developing their own web applications.
			h2.row-header Students
			.row
				each student, i in students
					if i%2 === 0
						.col-xs-6
							.row
								.col-sm-6.student-container
									+thumb(student.name, student.githuburl, student.image)
								if i+1 < students.length
									.col-sm-6.student-container
										+thumb(students[i+1].name, students[i+1].githuburl, students[i+1].image)
			h2.row-header Teaching Team						
			.row
				each teacher in teachers
					.col-sm-6
						+bio(teacher.name, teacher.github, teacher.githuburl, teacher.image, teacher.bio)
			h2.row-header NINJAs
			.row
				each ninja in ninjas
					.col-sm-6
						+bio(ninja.name, ninja.github, ninja.githuburl, ninja.image, ninja.bio)
