doctype html

mixin bio(name, github, githuburl, image, bio)
	.instructor-bio
		h1.name #{name}
		img.avatar(src="#{image}")
		a(href="#{githuburl}") #{github}
		p.bio #{bio}

mixin thumb(name, githuburl, image)
	.student-thumb
		img.avatar(src="#{image}")
		h5.name
			a(href="#{githuburl}") #{name}

html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title("Olin.js")

		link(href="css/bootstrap.min.css", rel="stylesheet")
		link(href="stylesheets/style.css", rel="stylesheet")

	body
		img(src="img/logo.svg", style="width: 100%")
		.container
			.row
				each student in students
					.col-sm-3
						+thumb(student.name, student.githuburl, student.image)
			.row
				each teacher in teachers
					.col-sm-6
						+bio(teacher.name, teacher.github, teacher.githuburl, teacher.image, teacher.bio)
			.row
				each ninja in ninjas
					.col-sm-6
						+bio(ninja.name, ninja.github, ninja.githuburl, ninja.image, ninja.bio)